*{
    /* background-color: aliceblue; */
}
.Loginarea{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
box-shadow: 0px 0px 10px grey;
    /* border: 1px solid black;  */
    border-radius: 10px;
    padding: 40px; 
    width: 30%; 
    height: 400px;
} 
.animation{
    position: absolute; 
    top: 89%; 
} 
.animation1{
    position: absolute;  
    left:110%;
    top: 89%; 
} 
.animation img{
    animation-name: truck; 
    animation-duration: 5s; 
    animation-fill-mode: forwards;
} 
.animation1 img{
    animation-name: building; 
    animation-duration: 4s;
    animation-fill-mode: forwards;

} 
@keyframes truck{
    from{
        transform: translateX(0px); 

    } 
    to{
        transform: translateX(950px);
    }
}
@keyframes building{
    from{
        transform: translateX(10px); 

    } 
    to{
        transform: translateX(-500px);
    }
}