.register-area{
    position: absolute;
left: 50%;
top: 50%;
transform: translate(-50%, -50%);
border: 1px solid black; 
border-radius: 10px;
padding: 40px; 
width: 30%;
}
.submit-btn{
    margin: 15px;
}